$cartWidth: 47vw;

.cartNavContainer {
  border: 2px solid;
  visibility: hidden;
  width: 0;
}

.cartContainer {
  @include flex(column, space-between, center, 0);
  height: calc(100vh - 5rem);
  height: 100vh;
  background-color: white;
  z-index: 30;
  top: 5rem;
  top: 0;
  position: fixed;
  right: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(67, 61, 61, 0.08) 0px 4px 12px;
  transition: all 0.4s ease;

  > .cartNav {
    @include flex(row, center, center, 0);
    position: fixed;
    top: 0;
    // background-color: yellow;
    width: $cartWidth;
    height: 5rem;

    > h2 {
      //   background-color: aqua;
      text-align: center;
      font-family: "Sansa";
      font-weight: 900;
      font-size: 2rem;
    }
    > button {
      @include flex();
      @include square(2rem);
      color: white;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      border: none;
      border-radius: 50%;
      background-color: rgb(255, 85, 50);
      cursor: pointer;
    }
  }
  > .cartItemContainer {
    @include flex(column, start, center, 0);
    z-index: inherit;
    min-height: 55.5vh;
    margin-top: 5rem;
    overflow-y: auto;
    width: $cartWidth;
    &::-webkit-scrollbar {
      display: none;
    }

    > h4 {
      @include flex(column, center, center, 4rem);
      font-family: "Sansa";
      border-top: 1px solid $violet;
      width: 100%;
      font-size: 2rem;
      padding-top: 4rem;

      > svg {
        font-size: 4rem;
      }
      > a {
        background-color: $violet;
        padding: 1rem;
        font-size: 1.2rem;
        color: black;
        border-radius: .5rem;
      }
    }
  }
  > .cartDetails {
    border-top: 1px solid $violet;
    @include flex(column, center, center, 0.5rem);
    z-index: 30;

    > div {
      @include flex(row, space-between, center, 0);
      width: 80%;
      padding: 3%;

      > b {
        font-size: 2rem;
        font-family: "Sansa";
      }
    }
    > button {
      @include flex();
      width: $cartWidth;
      font-size: 1rem;
      font-family: monospace;
      padding: 1.9rem;
      border: none;
      color: $lightBlue;
      background-color: $darkest;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        background-color: $violet;
        color: $darkest;
        outline: 1px solid;
        width: calc($cartWidth - 2px);
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
    > button:nth-child(2) {
      width: calc($cartWidth - 1vw);
      background-color: $violet;
      color: $darkest;
      border: 1px solid;

      &:hover {
        color: $lightBlue;
        background-color: $darkest;
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}

.cartShow {
  visibility: visible;
  width: $cartWidth;
  opacity: 1;
}
