.proCard {
    background-color: white;
    padding: 2rem;
    transition: all 0.4s;
    color: $darkest;

    &:hover {
        transform: translateY(-5px);
    }

    > img {
        width: 20rem;
        height: 15rem;
    }
}