.proCardContainer {
  @include flex(column, center, flex-start);
  margin: 1.5rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.4s;
  overflow: hidden;
  background-color: black;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-5px);
    /* outline: 1px solid white; */
    border-radius: 10px;
  }

  > img {
    width: 250px;
    height: 250px;
  }

  .name {
    font-size: 2rem;
  }
  .price {
    font-size: 1.5rem;
    color: rgb(250, 84, 50);
  }
}
