.footContainer {
  background-color: $lightGrey;
  padding: 2rem 0;
  @include flex(row, space-around, center);
  transition: all 0.3s;

  .footLeft {
    > div {
      margin: auto;
      text-align: center;
    }
  }

  .footCenter {
    @include flex(row, space-between, start, 3vw);

    > div {
      > h1 {
        color: rgb(255, 84, 84);
        font-size: 1.2rem;
        text-align: center;
      }
      > ul > li {
        text-align: center;
        padding: 5px;

        > a {
          color: $darkest;
          font-size: 1rem;
          transition: all 0.2s;
          &:hover {
            color: $darkBlue;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footRight {
    > h1 {
      font-size: 1.1rem;
      color: rgb(255, 84, 84);
    }
    > ul > li > a {
      padding: 10px 5px;
      font-size: 1.1rem;
      color: $darkest;
      transition: all 0.2s;
      &:hover {
        color: $darkBlue;
        text-decoration: underline;
      }
    }
  }
}
