@mixin heading($spacing: 3px, $weight: 300, $case: uppercase) {
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: $case;
  // font-family: "Aster";
}

@mixin flex($dir: row, $justify: center, $align: center, $gap: 1rem) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($col: 1fr, $row: unset, $gap: 1rem) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  gap: $gap;
}

@mixin inputStyle($w: 100%, $p: 1rem, $bgColor: inherit, $border: none) {
  padding: $p;
  border: $border;
  background-color: $bgColor;
  width: $w;
  outline: none;
}

@mixin posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($s: 1rem) {
  height: $s;
  width: $s;
}

@mixin sansa($size: 1rem) {
  font-size: $size;
  font-family: "Sansa";
  font-weight: 900;
  letter-spacing: 1px;
}

@mixin btn ($bgColor: transparent) {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: $bgColor;
  font-family: "Sansa";
  font-weight: 900;
  letter-spacing: 1px;
}