.shippingContainer {
  padding: 2rem;
  margin-top: 5rem;
  @include flex(row, space-between, flex-start);
  // width: 100%;
  min-height: 75dvh;
  // background-color: yellow;
  > div {
    height: 100%;
  }

  > .shippingDetails {
    @include flex(column, center, center);
    background-color: #f9f9f9;
    width: 60%;
    height: 100%;
    padding: 3% 0 3% 3%;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    > h2 {
      margin-bottom: 1rem;
      color: #333;
      font-family: "Sansa";
      letter-spacing: 1px;
      text-align: center;
    }
    > form {
      flex: 1;
      > h2 {
        margin-bottom: 1rem;
        color: #333;
        font-family: "Sansa";
        letter-spacing: 1px;
        margin-bottom: 2rem;
        margin-top: 3rem;

        &:first-child {
          margin-top: 0;
        }

        > span {
          color: $darkBlue;
          @include square(3rem);
          padding: 0.3rem 0.8rem;
          border: 2px solid;
          margin-right: 0.5rem;
          border-radius: 50%;
        }
      }

      > button {
        background-color: $darkest;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: $darkBlue;
        }
      }

      > input,
      > select {
        padding: 0.75rem;
        margin-bottom: 1rem;
        margin-right: 3%;
        width: 30%;
        border: 1px solid #ccc;
        transition: border-color 0.3s;
        background-color: #fff;
      }
      > input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
      }
      > select {
        padding: 0.75rem 0.5rem;
      }

      > input:focus,
      > select:focus {
        border-color: $darkest;
        outline: none;
      }

      > input:first-of-type,
      > input:nth-of-type(2) {
        width: 46.5%;
      }

      > div {
        @include flex(row, start, center);

        > label > input {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.orderSummary {
  @include flex(column);
  background-color: #f9f9f9;
  margin: auto;
  width: 40%;
  height: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  > h2 {
    margin-bottom: 1rem;
    color: #333;
    font-family: "Sansa";
    letter-spacing: 2px;
  }
  > div {
    @include flex(row, space-between, start, 0);
    width: 100%;

    &:first-child, &:last-child {
      border-top: 1px solid $violet;
      padding-top: 1rem;
    }
  }
}
