$violet: #ede8f5;
$darkViolet: #551a8b;
$darkestViolet: #260b3e;
$lightGrey: #adbbda;
$Grey: #8697c4;
$lightBlue: #7091e6;
$darkBlue: #3d52a0;
$darkest: #26293a;

@font-face {
  font-family: "Sansa";
  src: url("../fonts/transfonter.org-20240527-161432/BlackSansaPro-Thin.woff2")
      format("woff2"),
    url("../fonts/transfonter.org-20240527-161432/BlackSansaPro-Thin.woff")
      format("woff");
  font-style: normal;
  letter-spacing: 2px;
  font-display: swap;
}

@font-face {
  font-family: "Aster";
  src: url("../fonts/transfonter.org-20240527-165943/AsterRegular.woff2") format("woff2"),
    url("../fonts/transfonter.org-20240527-165943/AsterRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
